/* Common styles */
body {
    margin: 0px;
    font-family: 'Trade Winds', sans-serif;
    color: #1F618D;
    background-image: radial-gradient(orangered, #FFD300 , #27AE60);
}

h1 {
    font-family: "Bungee Spice", serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Workbench', serif;
}

h6 {
    font-size: xx-large;
}
.content-wrapper {
    align-items: end;
}

.content-wrappery {
    align-items: end;
    background-color: #FFD300;
}

.content-wrapper > p {
    padding: 10px 25px;
    font-size: large;
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }