/* Footer styles */
.footer-wrapper {
    background-color: #FFD300;
    color: #1F618D;
    font-family: "Trade Winds", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin-top: -4px;
}

.footer-wrapper > .logo img {
    width: 180px;
    height: 100%;
    /* opacity: 50%; */
    filter: brightness(88%);
    border-radius: 33%;
}

.footer-wrapper > .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Trade Winds", sans-serif;
    font-weight: 1000;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 555px;
}

.footer-wrapper > .links-wrapper > .nav-link {
    width: 69px;
    text-align: center;
}

.footer-wrapper > .links-wrapper > .nav-link a {
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.footer-wrapper > .links-wrapper > .nav-link a:hover {
    color: black;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.footer-wrapper > .contact-hours-footer span {
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;

}

.footer-wrapper > .contact-hours-footer > .time {
    font-size: .8em;
    color: #27AE60 ;
    text-transform: uppercase;
}

.footer-wrapper > .social-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer-wrapper > .social-wrapper a {
    font-size: 1.5em;
    color: #27AE60;
    transition: 0.5s;
}

.footer-wrapper > .social-wrapper a:hover {
    color: #1F618D ;
}

.footer-wrapper > .disclaimer {
    color: #27AE60 ;
    font-size: 70%;
    margin-bottom: 42px;
}

.footer-wrapper > .copyright {
    color: #27AE60 ;
    font-size: 70%;
    margin-bottom: 42px;
}