/* Hero section styles */
.hero-section {
    background-image: url(../kimages/Homepage/hero.png);
    padding: 100px;
    height: 450px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    background-image: radial-gradient(black, #1F618D);
    color: #cbcbcb;
    width: 420px;
    border-radius: 100%;
    padding: 1px 20px;
    text-align: center;
}

.hero-section > .bottom-heading {
    background-image: radial-gradient(black, #1F618D);
    color: #cbcbcb;
    padding: 1px 20px;
    margin-top: 15px;
    width: 151px;
    border-radius: 100%;
    text-align: center;
}

/* Features section styles */
.features-section {
    height: 450px;
    background-image: url(../kimages/Mush/mini/APE.jpg);
    background-color: #1F618D;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    font-family: "Trade Winds", sans-serif;
    font-weight: 800;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid black;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}