/* Common nav styles */
.navigation-wrapper {
    height: 190px;
    background-image: radial-gradient(orangered, #FFD300 , #27AE60);
    color: #27AE60;
    /* flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Left column styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-hour-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hour-wrapper > .hours {
    font-family: 'Arial', sans-serif;
    color: #858585;
    font-size: 0.8em;
}

.links-wrapper > .nav-link a {
    font-family: 'Arial', sans-serif;
    color: white;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
    border-radius: 5ch;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
    border-radius: 27%;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-family: "Arial", sans-serif;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: orangered  ;
    letter-spacing: 2px;
}

/* Right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'Arial', sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: orangered  ;
}

.navigation-wrapper > .right-column > .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .contact-icon a {
    color: #cbcbcb;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .contact-icon a:hover {
color: orangered  ;
}