/* Square grid styles */
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px;
}

.squares-wrapper> .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.squares-wrapper> .squares > .squarey {
    background-color: #FFD300;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
    width: 75%
}

.square > .square-text-wrapper h1 {
    color: #1F618D ;
}

.squarey > .img-wrapper img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.squarey > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
    width: 75%
}

.squarey > .square-text-wrapper h1 {
    color: #1F618D ;
}